@font-face {
    font-family: "Museo Sans Cyrl";
    font-weight: 100;
    font-style: normal;
    src: local("MuseoSansCyrl"),
    url("/fonts/MuseoSansCyrl100.otf") format("opentype");
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("/fonts/MuseoSansCyrl300.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("/fonts/MuseoSansCyrl500.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    font-weight: 700;
    font-style: normal;
    src: local("MuseoSansCyrl"),
    url("fonts/MuseoSansCyrl700.otf") format("opentype");

}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("fonts/MuseoSansCyrl900.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.general
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    font-family: MuseoSansCyrl700;
}
header
{
    display: flex;
    box-sizing: border-box;
    width: 1440px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    background: #FFF;
    box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03), 0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);
}

.logo
{
    display: flex;
    width: 96px;
    height: 47px;
    justify-content: center;
    align-items: center;
}

.button__out
{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--7953-c-3-purple-main, #7953C3);
    background: var(--ffffff-white-main, #FFF);
    color: var(--7953-c-3-purple-main, #7953C3);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.profile__frame
{
    display: flex;
    width: 1040px;
    height: 806px;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    max-width: 100%;
    gap: 20px;


}

.creating-profile__frame
{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 384px;
    justify-content: space-between;
    align-items: center;
}

.button__main
{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 112px;

    border-radius: 8px;
    border: 1px solid var(--7953-c-3-purple-main, #7953C3);
    background: var(--ffffff-white-main, #FFF);

    color: var(--6-b-39-cb-main-purple-hover, #6B39CB);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.creating-profile
{
    color: var(--040013-black-main, #040013);

    /* H3 */
    font-family: Museo Sans Cyrl;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;

}

.about-me
{
    color: #CCC;

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
.progress-bar__white
{
    display: flex;
    height: 2px;
    align-self: stretch;

    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}

.progress-bar__grey
{
    width: 40px;
    height: 2px;
    position: relative;
    top: -22px;
    background: var(--d-9-d-1-e-0-stroke, #CDBDDB);
}
.profile__frame__small
{
    display: flex;
    height: 180px;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 30px;
    gap: 60px;
    width: 1040px;
    max-width: 100%;

}

.profile__frame__left-side
{
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: start;
    gap: 14px;
}
.avatar
{
    display: flex;
    height: 200px;
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    border-radius: 16px;
    border: 1px dashed var(--d-9-d-1-e-0-stroke, #CDBDDB);  
}

.avatar__small
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.avatar__text
{
    width: 191px;

    color: var(--000-black, #000);
    text-align: center;

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.avatar__button
{
    display: flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: var(--7953-c-3-purple-main, #7953C3);

    color: var(--ffffff-white-main, #FFF);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.avatar__small-text
{
    align-self: stretch;
    color: #CCC;
    text-align: center;

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.label
{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;


}

.title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px; 
}

.input__rectangle
{
    display: flex;
    width: 366px;
    padding: 16px 12px;
    gap: 8px;

    border-radius: 8px;
    background: #F4F4F6;

}

.title__about-me
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px; 
}

.input__rectangle__about-me
{
    display: flex;
    width: 366px;
    height: 180px;
    padding: 16px 12px;
    gap: 8px;

    border-radius: 8px;
    background: #F4F4F6;

}

.input__text
{
    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--040013-black-main, #040013);
    
}

.boy-and-girl
{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;

}

.label__boy-girl
{
    width: 50px;
    text-align: end;
}

.date
{
    width: 222px;
    height: 50px;
    border-radius: 8px;
    background: #F4F4F6;
    display: flex;
    justify-content: start;
    padding: 6px 6px 8px 8px;
    align-items: center;
}

.date__rectangle
{
    background: #F4F4F6;
    width: 190px;
}

input
{
    outline: none;
    border: 1px #F4F4F6;
    border-radius: 5px;
    caret-color: #7953C3;
}

.icons__button
{
    position: relative;
    right: 15px;
    border-radius: 4px;
    background: #FFF;
    border: none;
}

.calendar
{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    
}

.input__text__small
{
    align-self: stretch;
    color: #9E9E9E;
    font-family: Museo Sans Cyrl;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.12px;
    width: 366px;
}

.profile__frame__right-side
{
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 14px;
}

.your__page
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.your__page__small-text
{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.profile__registration
{
    display: flex;
    width: 550px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;

    border-radius: 32px;
    background: var(--ffffff-white-main, #FFF);

    /* Default multiple shadows */
    box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03), 0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);
}

.profile__photo
{
    display: flex;
    flex-direction:column;
    gap: 12px;
    justify-content: start;
}

.profile__photo__mini
{
    width: 140px;
    height: 140px;

    stroke-width: 1px;
    stroke: #EBEBEB;
}

.profile__button
{
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 4px;
    opacity: 0.2;
    background: var(--7953-c-3-purple-main, #7953C3);

    color: var(--ffffff-white-main, #FFF);
    font-family: Museo Sans Cyrl;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 125% */
    letter-spacing: -0.08px;
}

.profile__description
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 4px;
    /* flex: 1 0 0;
    align-self: stretch; */
}

.profile__big-text
{
    flex: 1 0 0;
    color: var(--040013-black-main, #040013);
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 122.222% */
}

.profile__small-text
{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.profile__small-text__characts
{
    color: var(--040013-black-main, #040013);
    font-family: Museo Sans Cyrl;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
}

.profile__rectangle-mini
{
    display: flex;
    width: 120px;
    height: 11px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__rectangle-neighbour
{
    display: flex;
    width: 121px;
    height: 11px;
    padding: 3px 6px;
    align-items: center;
    gap: 32px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__description-expand
{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.profile__text__purple
{
    color: var(--7953-c-3-purple-main, #7953C3);
    font-family: Museo Sans Cyrl;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 122.222% */
}

.profile__arrow
{
    width: 10px;
    height: 4px;
    stroke-width: 0.8px;
    stroke: var(--7953-c-3-purple-main, #7953C3);

}

.profile__expand-arrow
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.profile__rectangle-big
{
    display: flex;
    padding: 12px 20px 12px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}

.profile__prefs
{
    display: flex;
    width: 106px;
    height: 11px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: var(--f-4-f-4-f-6-purple-fill, #F4F4F6);
}

.profile__price
{
    display: flex;
    width: 198px;
    height: 20px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__metro
{
    display: flex;
    width: 308px;
    height: 14px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__line
{
    width: 374px;
    height: 1px;
    opacity: 0.5;
    background: #CCC;
}

.profile__rectangles__bottom
{
    display: flex;
    padding: 3px 4px 3px 0px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(270deg, #F4F4F6 42.79%, rgba(244, 244, 246, 0.00) 100%);
}

.profile__alco
{
    display: flex;
    width: 158px;
    height: 16px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__neighbour-mini
{
    display: flex;
    width: 202px;
    padding-right: 0px;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__bottom
{
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

}

.profile__bottom__big-text
{
    color: var(--040013-black-main, #040013);

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.profile__bottom__small-text
{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    align-self: stretch;
}

.profile__bottom__frame
{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    align-self: stretch;
    align-self: stretch;
    border-radius: 16px;
    background: var(--ffffff-white-main, #FFF);
    
    /* Default multiple shadows */
    box-shadow: 0px 1.13351px 4.29362px 0px rgba(133, 94, 152, 0.03), 0px 2.86674px 10.85888px 0px rgba(133, 94, 152, 0.04), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05), 0px 5.84789px 22.15109px 0px rgba(133, 94, 152, 0.05);
}

.profile__emoji
{
    color: #000;
    text-align: center;

    /* H3 */
    font-family: Museo Sans Cyrl;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.32px;
    margin: 16px;
}

.button-continue__layout
{
    display: flex;
    width: 1040px;
    height: 88px;
    justify-content: end;
    align-items: end;
}

.button-continue
{
    display: flex;
    padding: 12px 64px;
    width: 98px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    opacity: 0.2;
    background: var(--7953-c-3-purple-main, #7953C3);
    color: var(--ffffff-white-main, #FFF);

    /* P bold */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}

.footer
{
    display: flex;
    padding: 100px 200px 64px 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    border-top: 1px solid #EBEBEB;
    background: var(--ffffff-white-main, #FFF);
    max-width: 100%;
}

.footer__support
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.footer__text__purple
{
    color: var(--7953-c-3-purple-main, #7953C3);

    /* H2 */
    font-family: Museo Sans Cyrl;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
}

.footer__support__small
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 984px;
    gap: 8px;
}

.footer__support__small-text
{
    color: var(--, #AAA);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.footer__support__row
{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 32px;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.footer__support__row-text
{
    color: var(--040013-black-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.footer__icons
{
    width: 402px;
}

.footer__icons-frame
{
    display: flex;
    width: 16px;
    flex-shrink: 0;
    fill: #F4F4F6;
    padding: 8px 8px;

    border-radius: 8px;
    background: #F4F4F6;
}

.footer__icons-dist
{
    display: flex;
    gap: 8px;
}

.footer__line
{
    width: 1040px;
    height: 1px;
    opacity: 0.2;
    background: #7953C3;
    max-width: 100%;
}

.footer__bottom
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.footer__bottom__grey-text
{
    color: var(--5-d-5-b-66-secondary-black, #5D5B66);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.footer__diff-text
{
    display: flex;
    gap: 3px;
}

.footer__bottom__black-text
{
    flex: 1 0 0;
    color: var(--, #AAA);

    /* Small */
    font-family: Museo Sans Cyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.last-line
{
    height: 12px;
    align-self: stretch;
    background: var(--7953-c-3-purple-main, #7953C3);
    max-width: 100%;
}

.boy-girl input[type="radio"]{
    display:none;
}

.boy-girl input[type="radio"] + label
{

    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0;
    border-color:#7953C3;
    border-style: solid; 
    padding: 0px;
    border-radius: 50px;

    fill: #F4F4F6;


    

}

.boy-girl input[type="radio"]:checked + label
{
    background: #F4F4F6;
    width: 5px;
    height: 5px;
    display:inline-block;
    padding: 0 0 0 0;

    border-color:#7953C3;
    border-style: solid; 
    padding: 0px;
    border-radius: 50px;
    border-width: 8px;
}


.profile__rectangle-name
{
    display: flex;
    width: 390px;
    height: 11px;
    padding: 3px 6px;
    align-items: center;
    gap: 32px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__rectangle-age
{
    display: flex;
    width: 10px;
    height: 5px;
    padding: 3px 6px;
    align-items: center;
    gap: 32px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}

.profile__rectangle-long
{
    display: flex;
    width: 390px;
    height: 5px;
    padding: 3px 6px;
    align-items: center;
    gap: 32px;
    border-radius: 4px;
    background: var(--eeeef-1-filter-hover, #EEEEF1);
}
.progress
{
    display: block;
    border-radius: 6px;
    width: 100%;
    height: 2px;

}


.progress::-webkit-progress-bar {
    background-color: #F4F4F6;
    border-radius: 6px;
}
.progress::-webkit-progress-value {
    background-color: #CDBDDB;
    border-radius: 6px;
}

.job
{
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.courses
{
    color: var(--040013-black-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.courses__layout
{
    display: flex;
    justify-content: space-around;
}

.radio__courses input[type="radio"]{
    display:none;
}

.radio__courses input[type="radio"]+label
{

    height: 29px;
    width: 29px;
    display:inline-block;
    padding: 8px 8px;
    border-radius: 10px;
    background:#F4F4F6;

    color: var(--040013-black-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;


}

.radio__courses input[type="radio"]:checked + label
{
    background: #7953C3;
    width: 25px;
    height: 25px;
    display:inline-block;
    padding: 8px 8px;
    border-radius: 10px;

    color: var(--ffffff-white-main, #FFF);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
}


.radio__graduate input[type="radio"]{
    display:none;
}

.radio__graduate input[type="radio"] + label
{

    height: 19px;
    width: 19px;
    display:inline-block;
    padding: 8px 8px;
    border-radius: 5px;
    background:#F4F4F6;
    border-color:#7953C3;
    border-style: solid; 
    padding: 0px;
    border-width: 1px;
    border-radius: 5px;

    fill: #F4F4F6;

    color: var(--040013-black-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */


}

.radio__graduate input[type="radio"]:checked + label
{
    background: #7953C3;
    width: 2px;
    height: 2px;
    display:inline-block;
    padding: 8px 8px;
    border-radius: 5px;

    color: var(--ffffff-white-main, #040013);

    /* P paragraph */
    font-family: Museo Sans Cyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.graduate__flex
{
    display: flex;
    gap: 8px;
}

.edu__rectangle
{
    display: flex;
    width: 366px;
    padding: 16px 12px;

    border-radius: 8px;
    background: #F4F4F6;
}

.edu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow__button
{
    display: flex;
    position: relative;
    border-radius: 4px;
    background: #F4F4F6;
    border: none;
    height: 25px;
    right: 35px;
    align-items: center;
}

.creating-profile__frame2
{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}